#Backend env variables
NVIDIA_API_KEY=
NVIDIA_BASE_URL=
NVIDIA_MODEL=

GITHUB_TOKEN=
GITHUB_USERNAME=

GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

CONTACT_WEBHOOK_URL=

PORT=4000
CORS_ORIGINS=http://localhost:3000

#Frontend env variables
API_URL=http://localhost:4000
